<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>API_KEY</key>
	<string>AIzaSyB8S75Eu6w9x4StaVmzmJU-FOdy_JyJXpY</string>
	<key>GCM_SENDER_ID</key>
	<string>674870064383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apple.py.AWARE</string>
	<key>PROJECT_ID</key>
	<string>artera1-aware</string>
	<key>STORAGE_BUCKET</key>
	<string>artera1-aware.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>DATABASE_URL</key>
	<string>https://artera1-aware-default-rtdb.firebaseio.com/</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:674870064383:ios:d91f1ead4017c841a488ca</string>
</dict>
</plist>
